<!DOCTYPE html>
<html ng-app="ugApp">
    <head>
        <meta charset="utf-8"/>
        <title>Hello World!</title>
        <base href="/">
        <link rel="icon" type="image/png" href="favicon.jpg">
        <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen">
        <link rel="stylesheet" type="text/css" href="css/timeline.css" media="screen">
        <script src="js/jquery.min.js"></script>        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/angular-cookies.min.js"></script>
        <script src="js/Script.js"></script>
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js', {scope: '/'})
                .then(function(registration) {
                    if(registration.installing) {
                      console.log('Service worker installing');
                    } else if(registration.waiting) {
                      console.log('Service worker installed');
                    } else if(registration.active) {
                      console.log('Service worker active');
                    }
                }).catch(function(error) {
                    window.alert(error)
                })
            }
        </script>
    </head>
    <body ng-controller="mainController">
        <div class="cover" id="cover">
            <div class="title">
                <p class="title-fullname">Umang Gupta</p>
                <p class="title-status">{{text.STATUS}}</p>
                <p class="title-degree">{{text.DEGREE}}</p>
            </div>
        </div>
        <nav role='navigation' class="main-nav" id="main-nav">
            <ul id="menu-list">
                <li id="menu-item" class="home"><a href="#" ng-class="getClass('/')" ng-click="scrollToTop('#cover')">{{text.HOME}}</a></li>
                <li id="menu-item" class="about"><a href="#about" ng-class="getClass('/about')" ng-click="scrollToTop('#main-nav')">{{text.ABOUT}}</a></li>
                <li id="menu-item" class="skills"><a href="#skills" ng-class="getClass('/skills')" ng-click="scrollToTop('#main-nav')">{{text.SKILLS}}</a></li>
                <li id="menu-item" class="work"><a href="#work" ng-class="getClass('/work')" ng-click="scrollToTop('#main-nav')">{{text.WORK}}</a></li>
                <li id="menu-item" class="contact"><a href="#contact" ng-class="getClass('/contact')" ng-click="scrollToTop('#main-nav')">{{text.CONTACT}}</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="contentBox">
                <div ng-view ng-animate="'animate'"></div>
            </div>
        </div>
        <span class="lang">
            <a ng-click="changeLang()" ng-mouseenter="otherLang()" ng-mouseleave="curLang()" title="{{text.CHANGE_LANG}}"><span>{{text.CURRENT_LANG}}</span></a>
        </span>
    </body>
</html>
