<div id="about" class="page about">
    <div ng-style="timeLine" class="time-stamp-img"><div/>
</div>
<!-- <div class="timeline">
	<ol>
	  <li>
	    Point 1
	    <span class="details">
	      Description of point 1
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 2
	    <span class="details">
	      Description of point 2
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	  <li>
	    Point 3
	    <span class="details">
	      Description of point 3
	    </span>
	    <span class="year">
	      1991
	    </span>
	  </li>
	</ol>
</div> -->