<div id="contact" class="page contact">
    <p id="content">
        {{text.VIA}}
        live-at-umanggupta-●-com
    </p>
    <p id="content">{{text.JOIN_SOCIAL_NETWORK}}</p>
    <a href="https://www.linkedin.com/in/umanggupta13"><img alt="linkedIn" src="/img/linkedin_b.png"/>LinkedIn</a>
    <a href="https://twitter.com/_umanggupta"><img alt="Twitter" src="/img/twitter_b.png"/>Twitter</a>
    <a href="https://plus.google.com/+UmangGupta/"><img alt="Google+" src="/img/google_plus_b.png"/>Google Plus</a>
    <a href="skype:yoogeeks?chat"><img alt="Skype" src="/img/skype_b.png"/>Skype</a>
</div>
