<div id="skills" class="page skills">
    <p id="content">{{text.LANGUAGES}} :</p>
    <h4 id="content">Visual C# (&#9733;&#9733;&#9733;&#9733;) ; Java (&#9733;&#9733;&#9733;) ; C/C++ (&#9733;&#9733;&#9733;); Python (&#9733;&#9733;)</h4>
    <p id="content">{{text.DEVWWEB}} :</p>
    <h4 id="content">JavaScript, AngularJS, Node.js (&#9733;&#9733;&#9733;&#9733;) ; HTML5+CSS3 (&#9733;&#9733;&#9733;&#9733;) ; ASP.NET (&#9733;&#9733;&#9733;)</h4>
    <p id="content">{{text.DEVMOB}} :</p>
    <h4 id="content">Windows Phone (&#9733;&#9733;&#9733;&#9733;) ; Android (&#9733;&#9733;&#9733;) ; iOS (&#9733;&#9733;)</h4>
    <p id="content">{{text.DBMS}} :</p>
    <h4 id="content">MySQL (&#9733;&#9733;&#9733;&#9733;) ; LINQ (&#9733;&#9733;&#9733;&#9733;) ; MS SQL Server (&#9733;&#9733;&#9733;)</h4>
    <p id="content">Misc. :</p>
    <h4 id="content">Agile, TDD, CI, REST, Git, MVC, MVVM</h4>
    <p id="content">{{text.DOWNLOAD_CV}}</p>   
    <a href="/CV/CV_GUPTA_FR_Web_Color.pdf" target="_blank">Français</a> / <a href="/CV/CV_GUPTA_FR_Web_Printer_Friendly.pdf" target="_blank">{{text.DOWNLOAD_CV_PF}}</a><br>
    <a href="/CV/CV_GUPTA_EN_Web_Color.pdf" target="_blank">English</a> / <a href="/CV/CV_GUPTA_EN_Web_Printer_Friendly.pdf" target="_blank">{{text.DOWNLOAD_CV_PF}}</a>
</div>
